.page-container{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image:url(src/background.jpg) ;
    background-repeat: no-repeat;
    background-size: auto;
   
}

.left-section{ display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;    
}



.text1,.text2,.text3{
    display: flex;
    flex-direction: column;
   margin: 5px;
    text-align: center;
    color: rgb(253,254,254);
}
.text2{
    font-size: 40px;
    letter-spacing: 2px;
}

.right-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: center;
    background-color: rgb(255,255,255);
}
.right-top{
    text-align: center;
}
h5{
    padding-left: 20px;
   color: rgb(235,235,235);
}

.login{
    font-size: 2em;
    color: rgb(16,126,239);
}
.signup{
    font-size: 2em;
    color: rgb(16,126,239);
}

#username,#password,#name,#number{
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
    height: 45px;
    width: 350px;
    background-color: rgb(250, 247, 247);
    border-left: 5px solid rgb(16,126,239);
    border-top: none;
    border-right: none;
    border-bottom: none     ;
}

.options{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;    
}

label{
    padding-right: 70px;
    color: rgb(189,197,202);
}

#already-member{
    color: rgb(16,126,239);
    cursor: pointer;
}

.subscribe{
    border: 2px solid rgb(16,126,239) ;
    padding: 10px 100px;
    margin-top: 40px;
    background-color:rgb(16,126,239) ;
    color: rgb(253,254,254);
    font-size: x-large;
    letter-spacing: 2px;
    border-radius: 50px;
}